Processes/Shared Resources/Schemas/Fault.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/test/Shared Resources/Schemas/Schema.xsd3"
	 targetNamespace="http://www.tibco.com/schemas/test/Shared Resources/Schemas/Schema.xsd3"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="Error" type="ErrorType"/>
	<xs:complexType name="ErrorType">
		<xs:sequence>
			<xs:element name="Code" type="xs:string" minOccurs="0"/>
			<xs:element name="Message" type="xs:string" minOccurs="0"/>
			<xs:element name="Description" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>